<h1>삼행회(三行會)</h1>
<div class="box-content">
    <markdown id="samhaeng"></markdown>
</div>
<div class="box-content" style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    <div><img src="./assets/syg_crop.png"></div>
    <div><img src="./assets/khy_crop.png"></div>
    <div><img src="./assets/kih_crop.png"></div>
    <div><img src="./assets/ydr_crop.png"></div>
    <div><img src="./assets/odk_crop.png"></div>
    <div><img src="./assets/ls_crop.png"></div>
    <div><img src="./assets/kyk_crop.png"></div>
</div>